 body{
     background-color: orange;
}
#container{
    background-color: white;
     width: 800px;
     margin: 0 auto;
    }
header{
    background-color: #eeeeee;
    color: brown;
    border: 4px brown dashed;
    text-align: center;
    line-height: 5em;
}
header h1{
    margin:0;
}
aside{
    width: 250px;
    float: left;
    padding-left: 10px;
}
article{
    width: 500px;
    float: right;
}
footer{
    background-color: eeeeee;
    color: grey;
    clear: both;
    padding-left: 10px;
}
h2{
    color: orange;    
}
h3{
    margin-bottom: 5px;
}
h3,h4{
    color: brown;
}
h1,h2,h3{
    margin-bottom: 5px;
}
input,textarea{
    display: block;
    margin: 10px 0;
}
form{
    margin-top: 10px;
}
li{
    margin-top: 20px; 
}